* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    background-color: hsl(225, 100%, 94%);
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    margin: auto;
}
.card {
    width: 380px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 200px auto 0 auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.hero-image {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    font-family: 'Red Hat Display', sans-serif;
}
h1 {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 5%;
}
.description {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: hsl(224, 23%, 55%);
}
.plan-container {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: hsl(225, 100%, 98%);
    height: 25%;
    border-radius: 10px;
    padding: 8%;
}
.plan-container img {
    width: 17%;
}
.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.plan-name {
    font-weight: 900;
    font-size: 16px;
}
.plan-price {
    color: hsl(224, 23%, 55%);
    font-size: 16px;
}
.change {
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    font-weight: 900;
    cursor: pointer;
    font-size: 14px;
    padding-left: 10%;
}
.change:hover {
    color: hsl(245, 75%, 70%);
}
button {
    width: 100%;
    margin-top: 10%;
    height: 44px;
    color: white;
    background-color: hsl(245, 75%, 52%);
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 16px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: 700;
}
button:hover {
    background-color: hsl(245, 75%, 70%);
}
.cancel {
    margin-top: 10%;
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    font-size: 14px;
    cursor: pointer;
}
.cancel:hover {
    color: black;
}
.attribution {
    margin-top: 50px;
    text-align: center;
}
@media (max-width: 400px) {
    body {
        max-width: 375px;
    }
    .card {
        width: 250px;
        height: 430px;
        display: flex;
        flex-direction: column;
        margin: 200px auto 0 auto;
        background-color: white;
        border-radius: 20px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    }
    h1 {
        font-size: 16px;
    }
    .description {
        font-size: 12px;
    }
    .plan-name {
        font-size: 12px;
    }
    .plan-price {
        font-size: 12px;
    }
    .change {
        font-size: 10px;
    }
    .cancel {
        font-size: 12px;
    }
}